In [1]:
import pandas as pd
import numpy as np
from datetime import datetime

In [2]:
#Load the dataset
df = pd.read_csv('final_book_dataset_kaggle2.csv')
df.head()

,title,author,price,price (including used books),pages,avg_reviews,n_reviews,star5,star4,star3,star2,star1,dimensions,weight,language,publisher,ISBN_13,link,complete_link
0,Data Analysis Using R (Low Priced Edition): A ...,[ Dr Dhaval Maheta],6.75,6.75,500,4.4,23,55%,39%,6%,NaN,NaN,8.5 x 1.01 x 11 inches,2.53 pounds,English,"Notion Press Media Pvt Ltd (November 22, 2021)",978-1685549596,/Data-Analysis-Using-Low-Priced/dp/1685549594/...,https://www.amazon.com/Data-Analysis-Using-Low...
1,Head First Data Analysis: A learner's guide to...,NaN,33.72,21.49 - 33.72,484,4.3,124,61%,20%,9%,4%,6%,8 x 0.98 x 9.25 inches,1.96 pounds,English,"O'Reilly Media; 1st edition (August 18, 2009)",978-0596153939,/Head-First-Data-Analysis-statistics/dp/059615...,https://www.amazon.com/Head-First-Data-Analysi...
2,Guerrilla Data Analysis Using Microsoft Excel:...,"[ Oz du Soleil, and , Bill Jelen]",32.07,32.07,274,4.7,10,87%,13%,NaN,NaN,NaN,8.25 x 0.6 x 10.75 inches,1.4 pounds,English,"Holy Macro! Books; Third edition (August 1, 2022)",978-1615470747,/Guerrilla-Analysis-Using-Microsoft-Excel/dp/1...,https://www.amazon.com/Guerrilla-Analysis-Usin...
3,Python for Data Analysis: Data Wrangling with ...,[ William McKinney],53.99,53.99,547,4.6,"1,686",75%,16%,5%,2%,2%,7 x 1.11 x 9.19 inches,1.47 pounds,English,"O'Reilly Media; 2nd edition (November 14, 2017)",978-1491957660,/Python-Data-Analysis-Wrangling-IPython/dp/149...,https://www.amazon.com/Python-Data-Analysis-Wr...
4,Excel Data Analysis For Dummies (For Dummies (...,[ Paul McFedries],24.49,24.49,368,3.9,12,52%,17%,10%,10%,10%,7.38 x 0.83 x 9.25 inches,1.3 pounds,English,"For Dummies; 5th edition (February 3, 2022)",978-1119844426,/Excel-Data-Analysis-Dummies-Computer/dp/11198...,https://www.amazon.com/Excel-Data-Analysis-Dum...

### Checking basic info

In [3]:
df.columns

Index(['title', 'author', 'price', 'price (including used books)', 'pages',
       'avg_reviews', 'n_reviews', 'star5', 'star4', 'star3', 'star2', 'star1',
       'dimensions', 'weight', 'language', 'publisher', 'ISBN_13', 'link',
       'complete_link'],
      dtype='object')

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 830 entries, 0 to 829
Data columns (total 19 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   title                         830 non-null    object
 1   author                        657 non-null    object
 2   price                         722 non-null    float64
 3   price (including used books)  722 non-null    object
 4   pages                         745 non-null    object
 5   avg_reviews                   702 non-null    float64
 6   n_reviews                     702 non-null    object
 7   star5                         702 non-null    object
 8   star4                         635 non-null    object
 9   star3                         554 non-null    object
 10  star2                         451 non-null    object
 11  star1                         328 non-null    object
 12  dimensions                    644 non-null    object
 13  weight                        651 non-null    object
 14  language                      759 non-null    object
 15  publisher                     714 non-null    object
 16  ISBN_13                       665 non-null    object
 17  link                          830 non-null    object
 18  complete_link                 830 non-null    object
dtypes: float64(2), object(17)
memory usage: 123.3+ KB

In [5]:
df.isnull().sum().sort_values(ascending = False)

star1                           502
star2                           379
star3                           276
star4                           195
dimensions                      186
weight                          179
author                          173
ISBN_13                         165
avg_reviews                     128
n_reviews                       128
star5                           128
publisher                       116
price (including used books)    108
price                           108
pages                            85
language                         71
link                              0
title                             0
complete_link                     0
dtype: int64

In [6]:
#Check percentage of missing data
missing_data = round(df.isnull().sum().sort_values(ascending = False) * 100/len(df), 2)
percent_missing = pd.DataFrame({'Percent Missing' : missing_data})
percent_missing

                              Percent Missing
star1                                   60.48
star2                                   45.66
star3                                   33.25
star4                                   23.49
dimensions                              22.41
weight                                  21.57
author                                  20.84
ISBN_13                                 19.88
avg_reviews                             15.42
n_reviews                               15.42
star5                                   15.42
publisher                               13.98
price (including used books)            13.01
price                                   13.01
pages                                   10.24
language                                 8.55
link                                     0.00
title                                    0.00
complete_link                            0.00

In [7]:
df.duplicated().sum()

0

### Check Object Variables

In [8]:
obj_variables = df.select_dtypes(object).sample(5)
obj_variables

,title,author,price (including used books),pages,n_reviews,star5,star4,star3,star2,star1,dimensions,weight,language,publisher,ISBN_13,link,complete_link
148,Practical Data Analysis Using Jupyter Notebook...,"[ Marc Wintjen, and , Andrew Vlahutin]",34.99,322,33,56%,16%,7%,10%,11%,7.5 x 0.73 x 9.25 inches,1.22 pounds,English,"Packt Publishing (June 19, 2020)",978-1838826031,/Practical-Analysis-Using-Jupyter-Notebook/dp/...,https://www.amazon.com/Practical-Analysis-Usin...
197,The Pandas Workshop: A comprehensive guide to ...,"[ Blaine Bateman, Saikat Basak, et al.]",49.99,744,13,71%,19%,10%,NaN,NaN,7.5 x 1.68 x 9.25 inches,2.77 pounds,English,"Packt Publishing (June 17, 2022)",978-1800208933,/gp/slredirect/picassoRedirect.html/ref=pa_sp_...,https://www.amazon.com/gp/slredirect/picassoRe...
615,Become an Awesome Software Architect: Book 1: ...,NaN,49.99,190,87,56%,22%,11%,2%,8%,7.5 x 0.43 x 9.25 inches,12 ounces,English,"Independently published (October 7, 2019)",978-1697271065,/gp/slredirect/picassoRedirect.html/ref=pa_sp_...,https://www.amazon.com/gp/slredirect/picassoRe...
492,Scala 3 Programming for Beginners: An Introduc...,[ Nathan Metzler],8.99,176,NaN,NaN,NaN,NaN,NaN,NaN,6 x 0.4 x 9 inches,11.4 ounces,Scroll to the top of the page and click the,"Independently published (December 16, 2021)",979-8782427801,/gp/slredirect/picassoRedirect.html/ref=pa_sp_...,https://www.amazon.com/gp/slredirect/picassoRe...
450,Beginner's Guide to Streamlit with Python: Bui...,[ Sujay Raghavendra],39.45,224,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.11 pounds,English,"Apress; 1st ed. edition (January 3, 2023)",978-1484289822,/Beginners-Guide-Streamlit-Python-Applications...,https://www.amazon.com/Beginners-Guide-Streaml...

### STEPS TO TAKE

1. Replace missing values in the `pages` column with 0 and clean the column

2. Rename the `price (including used books)` column, replace NAN values with the average, and clean the column

3. Remove the ` [ ` and ` ] ` and any other characters from the `author` column and replace the missing values

4. Clean the `n_reviews` columns.

5. Clean the `star` columns

6. Convert the `dimensions` column to cm and replace null values with 0

7. convert all other units of measurements in the `weight` column to kg and replace null values

8. Split the rows in `publisher` column with dates to another column and replace null values

9. Clean the `Language` Column

10. Drop unnecessary columns 

11. Replace missing values in other columns.

### 1. Replace missing values in the `pages` column with the 0 and clean the column

In [9]:
df['pages'].sample(15)

444    358
53     384
546    590
300    534
63     384
584    328
756    NaN
174    300
296    288
93     222
741    134
324    381
677    166
201    566
260    162
Name: pages, dtype: object

The datatype for the pages column is object. Let's check to see why

In [10]:
# df['pages'].unique()

Some values are in string format so we'll convert them to a numeric type and fill them with 0

In [11]:
#Convert non-integer values to numeric
df['pages'] = pd.to_numeric(df['pages'], errors = 'coerce').fillna(0).astype(int)

In [12]:
#Fill missing values with 0
df['pages'].fillna('0', inplace = True)
df['pages'].isnull().sum()

0

### 2. Rename the `price (including used books)` column, replace NAN values with the average, and clean the column

In [13]:
df.rename(columns = {'price (including used books)':'all_prices'}, inplace = True)

In [14]:
df['all_prices'].sample(15)

11                15.97
270               44.99
738                 NaN
629      16.57 - 46.99
318                3.99
600               19.99
15                24.99
337     19.50 - 146.65
335      43.99 - 48.49
585      13.99 - 17.39
305               35.67
538      45.16 - 50.23
658              119.21
153                  37
324               23.74
Name: all_prices, dtype: object

There are certain values in the all_prices column that reflect the costs of both new and used books. We'll calculate the average of these numbers

In [15]:
# Define a function to extract the minimum and maximum values from range values and compute their average
def price_average(val):
    if isinstance(val, str) and '-' in val:
        min_value, max_value = map(float, val.split('-'))
        return round((min_value + max_value) / 2, 2)
    else:
        try:
            return float(val)
        except ValueError:
            return np.nan

# Apply the function to the column and create a new column
df['average_value'] = df['all_prices'].apply(price_average)

# check updated column
df['average_value'].sample(15)

14      39.99
32       0.99
695    124.55
238     34.22
664     17.49
772     40.66
341       NaN
75      40.50
25      29.99
580     16.38
323     25.43
638    743.47
173     78.72
31      13.99
204     88.28
Name: average_value, dtype: float64

In [16]:
#fill the average_value column with the mean
df['average_value'].fillna(df['average_value'].mean(), inplace = True)

In [17]:
#Round to 2 decimal places
df['average_value'] = np.round(df['average_value'], decimals=2)

### 3. Remove the ` [ ` and ` ] `brackets and any other characters from the `author` column and replace the missing values

In [18]:
df['author'].sample(15)

779                               [ David Ping]
819                   [ Jacqueline M. Quinless]
179                                         NaN
563                             [ Eric Matthes]
406                                         NaN
781                       [ Thorsten Gressling]
167                                         NaN
277                                         NaN
81                           [ Rupert Morrison]
3                           [ William McKinney]
647                                         NaN
434                         [ Abdullah Karasan]
352    [ Matt Harrison,  and , Theodore Petrou]
721                              [ Chirag Shah]
461                                         NaN
Name: author, dtype: object

In [19]:
#define a function to strip the '[' and ']' brackets
def author_col(x):
    if x == x:
        return x.lstrip('[ ').rstrip(']').replace(',  and ,', ' and')
    else:
        return x
    
df['author'] = df['author'].apply(author_col)

In [20]:
df['author'].sample(5)

817                                         NaN
388                                         NaN
605                                Rafal Leszko
465    V Kishore Ayyadevara and Yeshwanth Reddy
683                              Jeremy Adamson
Name: author, dtype: object

In [21]:
#fill missing values with 'No Name'
df['author'].fillna('No Name', inplace = True)

### 4. Clean the `n_reviews` column

In [22]:
df['n_reviews'].sample(15)

409      126
412      NaN
38        26
778    7,953
211       12
214    1,984
147        7
114       10
434        8
460       71
36        13
440      905
383        1
695        1
774      NaN
Name: n_reviews, dtype: object

In [23]:
#df['n_reviews'].unique()

Values in thousands have a comma. We'll remove the commas to make them integer values.

In [24]:
# replace commas in string values and leave NaN values as they are
df['n_reviews'] = df['n_reviews'].apply(lambda x: str(x).replace(',', '') if type(x)==str else x)

In [25]:
#Convert to integer data type and replace null values with 0
df['n_reviews'] = pd.to_numeric(df['n_reviews'], errors = 'coerce').fillna(0).astype(int)
df['n_reviews'].sample(10)

250      91
636      87
348      78
329     580
610      64
463      84
179    1155
591     591
614       0
359       0
Name: n_reviews, dtype: int32

### 5. Clean the star column

Fill the null values in star columns with 0

In [26]:
for column in ['star5', 'star4', 'star3', 'star2', 'star1']:
    df[column].fillna('0', inplace=True)

In [27]:
df[['star5', 'star4', 'star3', 'star2', 'star1']].sample(10)

    star5 star4 star3 star2 star1
292   70%   22%    8%     0     0
104   69%   17%    5%    3%    6%
464   65%   26%    4%    3%    3%
337   69%   13%    7%    4%    6%
450     0     0     0     0     0
369   57%   23%    8%   11%     0
796   61%   12%   12%    7%    7%
345  100%     0     0     0     0
87      0     0     0     0     0
185     0     0     0     0     0

In [28]:
columns_to_convert = ['star5', 'star4', 'star3', 'star2', 'star1']
def strip_and_convert_to_float(df, column_name):
   
    df[column_name] = df[column_name].str.rstrip('%').astype(float) / 10
    
for column in columns_to_convert:
        strip_and_convert_to_float(df, column)

In [29]:
df[['star5', 'star4', 'star3', 'star2', 'star1']].sample(5)

     star5  star4  star3  star2  star1
29     7.0    3.0    0.0    0.0    0.0
663    9.0    1.0    0.0    0.0    0.0
196    6.3    2.0    0.4    0.8    0.5
212   10.0    0.0    0.0    0.0    0.0
572    7.6    1.1    0.5    0.8    0.0

### 6. Convert the dimensions column to cm and replace null values with 0

In [30]:
#df['dimensions'].unique()

Some of the dimension also have their weights attached to the dimensions so we'll split the rows having weight and dimensions

In [31]:
df[['book_dimensions', 'book_weight']] = df['dimensions'].str.split(';', expand=True)

In [32]:
df['book_weight'].unique()

array([None, nan, ' 3.2 Ounces', ' 7.37 Ounces', ' 1.8 Pounds',
       ' 1.5 Pounds', ' 1.13 Ounces', ' 8.47 Ounces', ' 2.72 Ounces',
       ' 1.6 Ounces', ' 4 Ounces', ' 2.4 Ounces'], dtype=object)

In [33]:
#Remove the inches unit of measurement
df['book_dimensions'] = df['book_dimensions'].str.rstrip('inches')
df['book_dimensions'].sample(10)

269           10 x 2 x 12
615     7.5 x 0.43 x 9.25
435     7.4 x 1.15 x 8.95
86     7.38 x 0.69 x 9.25
304                    NaN
351     7.25 x 0.75 x 9.5
372       7.4 x 1.6 x 9.1
489     7.5 x 0.82 x 9.25
74     6.25 x 0.75 x 9.25
749                    NaN
Name: book_dimensions, dtype: object

In [34]:
# Define function to convert inches to cm
def convert_to_cm(val):
    if isinstance(val, str):
        
        # Extract numeric values from the string
        nums = [float(x) for x in val.split('x')]
        
        # Multiply values by 2.54 to convert to cm
        return round(np.prod(nums) * 2.54, 2)
    else:
        return np.nan

# Apply conversion function to column
df['book_dimensions(cm)'] = df['book_dimensions'].apply(convert_to_cm)

In [35]:
df['book_dimensions(cm)'].sample(10)

272     94.31
367    181.05
686    135.91
829       NaN
827    114.54
536    210.66
625     27.40
652    170.34
595     32.92
240    109.25
Name: book_dimensions(cm), dtype: float64

In [36]:
df['book_dimensions(cm)'].fillna(0, inplace = True)

In [37]:
df['book_dimensions(cm)'].sample(5)

240    109.25
706    173.75
318      0.00
148    128.64
134      0.00
Name: book_dimensions(cm), dtype: float64

### 7. convert all other units of measurements in the weight column with pounds and replace null values with 0

We'll check if the book_weight column we created earlier matches any missing values in the weight columnso that the missing values in the weight column can be replaced with values from the book_weight column.

In [38]:
#pd.set_option('display.max_rows', None)
#pd.set_option('display.max_columns', None)

#df[['weight', 'book_weight']]

In [39]:
df['weight'].isnull().sum()

179

In [40]:
df['weight'].fillna(df['book_weight'], inplace = True)

In [41]:
df['weight'].isnull().sum()

169

In [42]:
# define a function to convert ounces to pounds
def convert_to_pounds(val):
    if isinstance(val, str) and 'ounces' in val:
        ounces = float(val.split()[0])
        return round(ounces * 0.0283495, 2)
    elif isinstance(val, str) and 'pounds' in val:
        pounds = float(val.split()[0])
        return round(pounds * 0.453592, 2)
    else:
        return val

# apply the function to the 'Weight' column
df['weight'] = df['weight'].apply(convert_to_pounds)

df['weight'].sample(10)

795     0.6
36     0.37
207     0.5
140    0.49
195    1.43
496    0.95
135    1.86
447    0.94
585    0.52
280     1.3
Name: weight, dtype: object

In [43]:
#Convert the column to numeric type and fill null values with 0.
df['weight'] = pd.to_numeric(df['weight'], errors = 'coerce').fillna(0).astype(float)

In [44]:
#Round to 2 decimal places
df['weight'] = np.round(df['weight'], decimals=2)

### 8. Split the rows in publisher column with date to another column and replace null values

In [45]:
df['publisher'].sample(15)

11          Independently published (September 21, 2022)
102    Swedish Pharmaceutical Press; 5th edition (Jan...
263                 Packt Publishing (December 16, 2022)
667                       The MIT Press (April 18, 2023)
261      Springer; 6th ed. 2021 edition (March 16, 2021)
353            Independently published (October 6, 2020)
811    A K Peters/CRC Press; 1st edition (February 9,...
465                 Packt Publishing (November 27, 2020)
394             Independently published (April 28, 2018)
161    Holy Macro! Books; Second Edition, Second edit...
685    Chapman and Hall/CRC; 1st edition (November 30...
434      O'Reilly Media; 1st edition (December 28, 2021)
232    Chapman and Hall/CRC; 2nd edition (April 18, 2...
191          Academic Press; 2nd edition (June 15, 2023)
401                                                  NaN
Name: publisher, dtype: object

In [46]:
# Split the "Publisher" column by the first opening parenthesis
df[['Publisher', 'Publication Date']] = df['publisher'].str.split('(', 1, expand=True)

# Extract the date and remove the closing parenthesis
df['Publication Date'] = df['Publication Date'].str.rstrip(')')

# convert Publication Date column to datetime format
df['Publication Date'] = pd.to_datetime(df['Publication Date'], errors='coerce')

In [47]:
df['Publication Date'].head()

0   2021-11-22
1   2009-08-18
2   2022-08-01
3   2017-11-14
4   2022-02-03
Name: Publication Date, dtype: datetime64[ns]

In [48]:
#Replace null values in publisher with 'No Name'
df['Publisher'].fillna('No Name', inplace = True)
df['Publisher'].head()

0          Notion Press Media Pvt Ltd
1         O'Reilly Media; 1st edition
2    Holy Macro! Books; Third edition
3         O'Reilly Media; 2nd edition
4            For Dummies; 5th edition
Name: Publisher, dtype: object

### 9. Clean the `Language` Column

In [49]:
df['language'].unique()

array(['English', nan, 'Spanish',
       'Unqualified, Japanese (Dolby Digital 2.0 Mono), English (Dolby Digital 5.1), English (Dolby Digital 2.0 Mono)',
       'you will discover all you need ',
       ' How to make better business decisions using ',
       'Concepts are presented in a "to-the-point" style to cater to the busy individual. With this book, you can learn Python in just one day and start coding immediately. ',
       'standard library',
       'This Python programming guide assumes certain level of programming knowledge. It is not a beginner textbook.',
       'Scroll to the top of the page and click the ',
       'English (Dolby Digital 2.0 Mono)',
       'English (DTS-HD Master Audio 5.1), French (DTS-HD 2.0)',
       '"Brilliant."'], dtype=object)

In [50]:
df['language'].fillna('No Language', inplace = True)

In [51]:
#define a function to return English, Spanish, and Other for rows that start with ech one respectively.
def lang(val):
    if val.startswith('English'):
        return 'English'
    elif val.startswith('Spanish'):
        return 'Spanish'
    else:
        return 'Other'

df['language'] = df['language'].apply(lang)

In [52]:
df['language'].unique()

array(['English', 'Other', 'Spanish'], dtype=object)

### 10. Drop unnecessary columns

In [53]:
df.drop(['link', 'complete_link', 'publisher', 'dimensions', 'all_prices','book_weight', 'book_dimensions'], axis = 1, inplace = True)

In [54]:
obj_var = df.select_dtypes(object).sample(5)
obj_var

,title,author,language,ISBN_13,Publisher
188,Hands-On Data Science with R: Techniques to pe...,"Vitor Bianchi Lanzetta, Nataraj Dasgupta, et al.",English,,Packt Publishing
824,Data Science (The MIT Press Essential Knowledg...,No Name,English,99,The MIT Press; Illustrated edition
196,Data-Driven HR: How to Use Analytics and Metri...,Bernard Marr,English,978-0749482466,Kogan Page; 1st edition
752,Calling Bullshit: The Art of Skepticism in a D...,Carl T. Bergstrom and Jevin D. West,English,978-0525509202,Random House Trade Paperbacks; Reprint edition
145,Hands-On Data Analysis in R for Finance,Jean-Francois Collard,English,NaN,Chapman and Hall/CRC; 1st edition

In [55]:
df.isnull().sum()

title                    0
author                   0
price                  108
pages                    0
avg_reviews            128
n_reviews                0
star5                    0
star4                    0
star3                    0
star2                    0
star1                    0
weight                   0
language                 0
ISBN_13                165
average_value            0
book_dimensions(cm)      0
Publisher                0
Publication Date       119
dtype: int64

### 11. Replace Missing values

In [56]:
#Fill missing values appropriately
df['avg_reviews'].fillna(df['avg_reviews'].mean(), inplace = True)
df['price'].fillna(0, inplace = True)
df['price'].fillna(0, inplace = True)

In [57]:
df.isnull().sum()

title                    0
author                   0
price                    0
pages                    0
avg_reviews              0
n_reviews                0
star5                    0
star4                    0
star3                    0
star2                    0
star1                    0
weight                   0
language                 0
ISBN_13                165
average_value            0
book_dimensions(cm)      0
Publisher                0
Publication Date       119
dtype: int64

In [58]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 830 entries, 0 to 829
Data columns (total 18 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   title                830 non-null    object
 1   author               830 non-null    object
 2   price                830 non-null    float64
 3   pages                830 non-null    int32
 4   avg_reviews          830 non-null    float64
 5   n_reviews            830 non-null    int32
 6   star5                830 non-null    float64
 7   star4                830 non-null    float64
 8   star3                830 non-null    float64
 9   star2                830 non-null    float64
 10  star1                830 non-null    float64
 11  weight               830 non-null    float64
 12  language             830 non-null    object
 13  ISBN_13              665 non-null    object
 14  average_value        830 non-null    float64
 15  book_dimensions(cm)  830 non-null    float64
 16  Publisher            830 non-null    object
 17  Publication Date     711 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(10), int32(2), object(5)
memory usage: 110.4+ KB